<%- include('partials/header'); -%>

<form>
    <h2>Log In</h2>
    <label for="email">Email</label>
    <input type="text" placeholder="Enter your email" name="email">
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" placeholder="Enter your password" name="password">
    <div class="password error"></div>
    <button>Log In</button>
</form>

<script>
 const form = document.querySelector('form')
 const emailError = document.querySelector('.email.error')
 const passwordError = document.querySelector('.password.error')



 form.addEventListener('submit', async (e)=>{
 e.preventDefault()  //Prevents the default action from happening which is refreshing of page

//Reset errors every time we click the signup button
emailError.textContent = ''
passwordError.textContent = '' // Just changing them to empty string everytime we click the signup button

   
 //get values
 const email = form.email.value
 const password = form.password.value
 

 try{
  const res = await fetch('/login', {
     method: 'POST',
     body: JSON.stringify({email,  password}),
     headers: {'Content-Type' : 'application/json' }
  })

  const data = await res.json()
  console.log(data)
  if(data.errors)
  {
     emailError.textContent = data.errors.email
     passwordError.textContent = data.errors.password

  }
 if(data.user)
 {
     location.assign('/')
 } // Just redirecting to the home page if the user is signed up
  
 }
 catch(err) {
     console.log(err)
 }

})
</script>


<%- include('partials/footer'); -%>